statue
zcc_opt.def
statue_C
statue_C.tap
statue.c.lis
statue.lis
statue.map
tables.asm.lis
statue.tap
__pycache__/
benchy.map
benchy
benchy.lis
benchy.tap
benchy_BANK_7.bin
codegen/*.bin
benchy.c.lis
tap/statue_C.lis
tap/statue_C.map
tap/*bin
tap/statue.tap
**/*.swp
