statue
statue.tap
statue_BANK_7.bin
zcc_opt.def
statue_C
statue_C.tap
statue.c.lis
statue.lis
statue.map
mask.bin
tables.asm.lis
statue.tap
scr_ofs.bin
points.bin
points_count.bin
__pycache__/
sincos.bin
benchy.map
benchy
benchy.lis
benchy.tap
benchy_BANK_7.bin
recip.bin
benchy.c.lis
